target
.idea
.DS_Store
out
dist
node_modules
*.log
pkg
dist.*
*.crx
.openapi-*
/wz-templates/src/api/git_push.sh
/wz-templates/src/api/.npmignore
/wz-templates/src/api/.gitignore
dist-1
dist-chrome
static_embed/*
var
note-app/static_embed/template/*
note-app/static_embed/fe_static/*
/page-snapshot/a.jpg
dist_tmp
/everkm-note/theme
/wz-server/everkm-publish/demo-templates/everkm-note.db
/everkm-note-flutter/ios/LibraryEkmn.xcframework/ios-arm64
__pycache__
/ekmn-tauri/scripts/2.py
*.xcappdata
.vscode
/wz-server/ekmp-algolia/.env
everkm-note/static_embed/note_static*
tmp
tracing-flame*
tracing.folded
